@use "sass:math";
@import "../../assests/scss/mixins";
@import "../../assests/scss/variables";

.contactSection {
  margin-top: rem(100);
}

.grid {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(rem(290), 1fr));
  gap: rem(15);
  border-top: rem(1) solid #a2a2a2;
  margin-top: rem(30);
  padding-top: rem(30);
}

.contactLeft {
  gap: rem(5);
  position: relative;
  z-index: 1;
}

.link {
  font-weight: 500;
  font-size: rem(60);
  line-height: rem(65);
  color: $lightBlack;
  position: relative;

  @media (max-width: 1280px) {
    font-size: clamp(rem(36), 4.69vw, rem(60));
    line-height: clamp(rem(39), 5.08vw, rem(65));
  }

  &::after {
    content: "";
    display: block;
    width: 0;
    height: rem(1);
    background-color: $lightBlack;
    position: absolute;
    bottom: rem(-5);
    left: 0;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
  }

  &:hover::after {
    width: 100%;
  }
}

.contactFrom {
  gap: rem(20);
  position: relative;
  z-index: 1;
}

.formText {
  font-weight: 500;
  font-size: rem(24);
  line-height: rem(30);
  color: $lightBlack;

  @media (max-width: 1000px) {
    font-size: clamp(rem(20), 2.4vw, rem(24));
    line-height: clamp(rem(25), 3vw, rem(30));
  }
}

.form {
  gap: rem(20);
}

.item {
  border-bottom: rem(1) solid #a2a2a2;
  position: relative;

  &:hover > .label {
    font-weight: 600;
  }
}

.label {
  position: absolute;
  top: rem(15);
  left: 0;
}

.input {
  margin: rem(15) 0;
}

.input:focus {
  font-weight: 600;
}

.input:focus ~ .label,
.input:not(:placeholder-shown).input:not(:focus) ~ .label {
  top: rem(-10);
  opacity: 1;
  font-size: rem(12);
}

.label,
.input,
.textarea {
  width: 100%;
  font-weight: 500;
  font-size: rem(24);
  line-height: rem(30);
  color: $lightBlack;
  cursor: pointer;

  @media (max-width: 1000px) {
    font-size: clamp(rem(20), 2.4vw, rem(24));
    line-height: clamp(rem(25), 3vw, rem(30));
  }
}

.textarea {
  resize: none;
  height: rem(125);
}

.sendButton {
  margin-top: rem(20);
  border: rem(1) solid $lightBlack;
  border-radius: rem(20);
  -webkit-border-radius: rem(20);
  -moz-border-radius: rem(20);
  -ms-border-radius: rem(20);
  -o-border-radius: rem(20);
  font-weight: 500;
  font-size: rem(18);
  line-height: rem(22);
  color: #171717;
  background-color: transparent;
  cursor: pointer;
  padding: rem(24);
}

// background Triangle
.triangleBackground {
  position: absolute;
  z-index: 0;
  top: rem(220);
  left: rem(-220);
  width: rem(501);
  height: rem(430);

  @media (max-width: 1440px) {
    left: adaptiv-num-rem(-200, -220, 1440, 768);
  }

  @media (max-width: 480px) {
    width: rem(465);
    height: rem(398);
    top: rem(40);
    left: rem(-190);
  }

  svg {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
