@use "sass:math";
@import "../../assests/scss/mixins";
@import "../../assests/scss/variables";

.notFound {
  // min-height: 100vh;
  // align-items: center;
  padding-top: rem(100);
  justify-content: center;
  gap: rem(5);
  margin-bottom: auto;
  margin-top: auto;
  position: relative;
}

.number {
  position: relative;
  z-index: 1001;
  font-weight: 800;
  font-size: rem(150);
  line-height: rem(183);
  letter-spacing: 0.2em;
  color: #ffffff;
  text-align: center;
  text-shadow: -0 rem(-1) 0 #000000, 0 rem(-1) 0 #000000, -0 rem(1) 0 #000000,
    0 rem(1) 0 #000000, rem(-1) -0 0 #000000, rem(1) -0 0 #000000,
    rem(-1) 0 0 #000000, rem(1) 0 0 #000000, rem(-1) rem(-1) 0 #000000,
    rem(1) rem(-1) 0 #000000, rem(-1) rem(1) 0 #000000, rem(1) rem(1) 0 #000000,
    rem(-1) rem(-1) 0 #000000, rem(1) rem(-1) 0 #000000,
    rem(-1) rem(1) 0 #000000, rem(1) rem(1) 0 #000000;

  @media (max-width: 1000px) {
    font-size: clamp(rem(125), 15vw, rem(150));
    line-height: clamp(rem(155), 18.3vw, rem(183));
  }
}

.text {
  font-weight: 600;
  font-size: rem(48);
  line-height: rem(60);
  text-align: center;
  color: $lightBlack;
  text-transform: uppercase;

  @media (max-width: 1000px) {
    font-size: clamp(rem(38), 4.8vw, rem(48));
  }
}

.link {
  margin-top: rem(75);
  font-weight: 500;
  font-size: rem(36);
  line-height: rem(40);
  display: flex;
  align-self: center;
  text-align: center;
  color: $lightBlack;
  border: rem(1) solid #171717;
  border-radius: rem(24);
  -webkit-border-radius: rem(24);
  -moz-border-radius: rem(24);
  -ms-border-radius: rem(24);
  -o-border-radius: rem(24);
  padding: rem(30) rem(70);

  @media (max-width: 1000px) {
    padding: rem(30) clamp(rem(60), 7vw, rem(70));
    font-size: clamp(rem(30), 3.6vw, rem(36));
  }
}

.triangleAbsoluteTop,
.triangleAbsoluteBottom {
  position: absolute;
  z-index: 999;

  svg {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.triangleAbsoluteTop {
  top: rem(-80);
  right: rem(-400);
  width: rem(673);
  height: rem(575);

  @media (min-width: 1550px) {
    top: rem(0);
  }

  @media (max-width: 1000px) {
    width: adaptiv-num-rem(473, 673, 1000, 768);
    height: adaptiv-num-rem(404, 575, 1000, 768);
    right: adaptiv-num-rem(-280, -400, 1000, 768);
  }

  @media (max-width: 600px) {
    width: rem(250);
    height: rem(200);
    top: rem(-60);
    right: rem(-90);
  }
}

.triangleAbsoluteBottom {
  bottom: rem(-250);
  left: rem(-350);
  width: rem(613);
  height: rem(590);

  @media (min-width: 1550px) {
    bottom: rem(-150);
  }

  @media (max-width: 1000px) {
    width: adaptiv-num-rem(450, 613, 1000, 768);
    height: adaptiv-num-rem(400, 590, 1000, 768);
    left: adaptiv-num-rem(-250, -350, 1000, 768);
    bottom: adaptiv-num-rem(-80, -250, 1000, 768);
  }

  @media (max-width: 768px) {
    bottom: adaptiv-num-rem(-180, -80, 768, 600);
  }

  @media (max-width: 600px) {
    width: rem(327);
    height: rem(257);
    bottom: rem(-200);
    left: rem(-120);
  }
}
