@use "sass:math";
@import "../../assests/scss/mixins";
@import "../../assests/scss/variables";

.logo {
  gap: rem(5);
  align-items: center;

  &:hover > .img {
    svg {
      fill: url(#paint0_linear_812_5600);
    }
  }
}

.img {
  max-width: rem(70);
  max-height: rem(60);

  @media (min-width: 1440px) {
    width: rem(70);
    height: rem(60);
  }

  svg {
    width: 100%;
    height: 100%;
    fill: #171717;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
  }
}

.title {
  font-weight: 500;
  font-size: rem(18);
  line-height: rem(20);
  color: $lightBlack;
  text-transform: uppercase;

  @media (max-width: 480px) {
    display: none;
  }
}
