@use "sass:math";
@import "../../assests/scss/mixins";
@import "../../assests/scss/variables";

.experienceSection {
  margin-top: rem(100);
}

.info {
  margin-top: rem(30);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(rem(266), 1fr));
  grid-auto-rows: 1fr;
}

.block {
  padding: rem(30) rem(20);
  gap: rem(10);
  border-bottom: rem(1) solid #a2a2a2;
  border-top: rem(1) solid #a2a2a2;

  &:nth-child(1) {
    @media (max-width: 1000px) {
      border-bottom: none;
    }
  }

  &:nth-child(2) {
    border-left: rem(1) solid #a2a2a2;
    border-right: rem(1) solid #a2a2a2;

    @media (max-width: 1000px) {
      border-right: none;
      border-bottom: none;
    }

    @media (max-width: 711px) {
      border-left: none;
    }
  }

  &:nth-child(3) {
    @media (max-width: 1000px) {
      grid-column-start: 1;
      grid-column-end: 3;

      & > .blockTitle {
        max-width: rem(375);
      }
    }

    @media (max-width: 711px) {
      grid-column-start: 1;
      grid-column-end: 2;
    }
  }
}

.blockTitle {
  font-weight: 500;
  font-size: rem(22);
  line-height: rem(28);
  color: $lightBlack;

  &:last-child {
    text-align: right;
  }

  @media (max-width: 1000px) {
    font-size: clamp(rem(20), 2.2vw, rem(22));
    line-height: clamp(rem(25), 2.8vw, rem(28));
  }
}

.blockTitleCenter {
  text-align: center !important;
  margin: auto;
}

.blockTitleLeft {
  text-align: left !important;
  max-width: rem(710);
}

.number {
  position: relative;
  margin: 0 auto;
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: rem(128);
  line-height: rem(128);
  opacity: 0.8;

  // img {
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 100%;
  //   object-fit: contain;
  // }

  @media (max-width: 1000px) {
    font-size: clamp(rem(118), 12.8vw, rem(128));
    line-height: clamp(rem(118), 12.8vw, rem(128));
  }
}

.numberOne {
  // width: rem(230);
  // height: rem(128);
  color: #ffffff;

  background: linear-gradient(
    243.28deg,
    #d3cfad 57.64%,
    rgba(173, 255, 196, 0) 101.63%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.numberTwo {
  background: linear-gradient(
    180deg,
    #b7add3 0%,
    rgba(255, 173, 173, 0.22) 67.59%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.grant {
  margin-top: rem(30);
}

.grantGrid {
  padding: rem(10) 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(rem(266), 1fr));
  grid-auto-rows: 1fr;
  border-bottom: rem(1) solid #a2a2a2;
}

.grandImg {
  padding: 0 50% 50% 0;
  position: relative;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
