@use "sass:math";
@import "../../assests/scss/mixins";
@import "../../assests/scss/variables";

.header {
  width: 100%;
  position: fixed;
  // position: sticky;
  left: 0;
  top: 0;
  z-index: 1000;
  background-color: $white;
}

.wrapper {
  max-width: rem(1240);
  margin: 0 auto;
  padding: rem(20);
  justify-content: space-between;
  align-items: center;
  gap: rem(10);

  @media (max-width: 1000px) {
    padding: adaptiv-num-rem(10, 20, 100, 768) rem(20);
  }
  @media (max-width: 768px) {
    padding: rem(10), rem(20);
  }
}

.switchButton {
  gap: rem(25);

  & > div:first-child {
    @media (max-width: 1000px) {
      display: none;
    }
  }

  @media (max-width: 768px) {
    display: none;
  }
}
