@use "sass:math";
@import "../../assests/scss/mixins";
@import "../../assests/scss/variables";

.theme {
  position: relative;
  width: rem(100);
  background: #ffffff;
  border: rem(1) solid $lightBlack;
  border-radius: rem(50);
  -webkit-border-radius: rem(50);
  -moz-border-radius: rem(50);
  -ms-border-radius: rem(50);
  -o-border-radius: rem(50);
  padding: rem(5);
}

.customCheckbox {
  position: absolute;
  z-index: -1;
  opacity: 0;

  & + label {
    display: inline-flex;
    align-items: center;
    user-select: none;
    margin-left: auto;
    cursor: pointer;
    z-index: 1;

    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;

    &::before {
      content: "";
      display: inline-block;
      width: rem(40);
      height: rem(40);
      flex-shrink: 0;
      flex-grow: 0;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
      background-image: url("../../assests/image/icon/theme.svg");
    }

    &::after {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      background-color: $lightBlack;
      opacity: 0;
      border-radius: rem(50);
      -webkit-border-radius: rem(50);
      -moz-border-radius: rem(50);
      -ms-border-radius: rem(50);
      -o-border-radius: rem(50);
    }
  }

  &:checked + label {
    margin-left: 0;

    &::before {
      background-image: url("../../assests/image/icon/themeBlack.svg");
    }

    &:hover::after {
      background: linear-gradient(
        90deg,
        #d3adad 0%,
        #d3c4ad 33.85%,
        #adcad3 65.1%,
        #e5adff 100%
      );
    }
  }

  &:checked + label::after {
    opacity: 1;
  }
}
