@use "sass:math";
@import "../../assests/scss/mixins";
@import "../../assests/scss/variables";

.aboutSection {
  margin-top: rem(100);
}

.line {
  margin: rem(30) 0;
  width: 100%;
  height: rem(1);
  background-color: #d9d9d9;
}

.description {
  gap: rem(20);
}

.text {
  font-weight: 400;
  font-size: rem(20);
  line-height: rem(24);
  color: $lightBlack;
  max-width: rem(832);

  span {
    font-weight: 700;
  }

  @media (max-width: 1000px) {
    font-size: clamp(rem(16), 2vw, rem(20));
    line-height: clamp(rem(20), 2.4vw, rem(24));
  }
}
