@use "sass:math";
@import "../../assests/scss/mixins";
@import "../../assests/scss/variables";

.footer {
  margin-top: rem(50);
  flex: 0 0 auto;
}

.wrapper {
  justify-content: space-between;
  gap: rem(15);
  padding: rem(20) 0;

  span {
    font-weight: 400;
    font-size: rem(16);
    line-height: rem(20);
    color: #171717;

    @media (max-width: 1000px) {
      font-size: clamp(rem(12), 1.6vw, rem(16));
      line-height: clamp(rem(15), 2vw, rem(20));
    }

    @media (max-width: 480px) {
      &:last-child {
        display: block;
        margin: 0 auto;
      }
    }
  }
}

.line {
  width: 100%;
  height: rem(1);
  background-color: #d9d9d9;
}
