@use "sass:math";

@import "./assests/scss/mixins";
@import "./assests/scss/fonts";
@import "./assests/scss/variables";
@import "./assests/scss/base";

html {
  @media (min-width: 1441px) {
    font-size: calc(100vw / 1440 * 16);
  }

  @media (max-width: 360px) {
    font-size: calc(100vw / 360 * 16);
  }
}

// ---------Оболочка-----------
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
}

[class*="__container"] {
  width: 100%;
  max-width: rem(1068);
  margin: 0 auto;
  padding: 0 rem(20);
  // overflow: hidden;

  @media (min-width: 1441px) {
    width: rem(1068);
    max-width: 100%;
    padding: 0 rem(20);
  }

  @media (max-width: 1280px) {
    width: adaptiv-num-rem(838, 1068, 1280, 1000);
    max-width: 100%;
  }

  @media (max-width: 1000px) {
    width: adaptiv-num-rem(644, 838, 1000, 768);
  }

  @media (max-width: 768px) {
    width: adaptiv-num-rem(480, 644, 768, 480);
  }

  @media (max-width: 480px) {
    width: 100%;
  }
}
// ---------Оболочка-----------

// ---------MAIN-----------
.main {
  flex: 1 1 auto;
  // overflow: hidden;
}
// ---------MAIN-----------

.titleIcon {
  position: relative;
  align-self: flex-start;
}

.iconTriangle {
  display: block;
  width: rem(70);
  height: rem(54);
  position: absolute;
  top: rem(-3);
  right: rem(-114);

  @media (max-width: 1000px) {
    right: adaptiv-num-rem(-104, -114, 1000, 600);
    top: adaptiv-num-rem(-13, -3, 1000, 600);
  }

  @media (max-width: 600px) {
    top: rem(-13);
  }

  img {
    width: 100%;
    height: 100%;
  }
}

// title section

.title,
.subtitle {
  font-weight: 500;
  font-size: rem(64);
  line-height: rem(70);
  color: $lightBlack;
}

.title {
  @media (max-width: 1000px) {
    font-size: clamp(rem(38), 6.4vw, rem(64));
    line-height: clamp(rem(42), 7vw, rem(70));
  }
}

.subtitle__wrapper {
  position: relative;

  & > span {
    display: block;
    position: absolute;
    top: rem(-50);
    left: 0;
    width: rem(160);
    height: rem(90);

    & img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    @media (max-width: 768px) {
      width: adaptiv-num-rem(152, 160, 768, 480);
      height: adaptiv-num-rem(80, 90, 768, 480);
    }

    @media (max-width: 480px) {
      width: rem(152);
      height: rem(80);
    }
  }
}

// subtitle -> about section block consultation and services
.subtitle {
  padding-left: rem(30);

  @media (max-width: 1000px) {
    font-size: clamp(rem(28), 6.4vw, rem(64));
    line-height: clamp(rem(31), 7vw, rem(70));
  }
}

// list -> item for about section
.list__item {
  padding: rem(20) 0;
  border-top: rem(1) solid #d9d9d9;
  border-bottom: rem(1) solid #d9d9d9;

  // circle for item
  &::before {
    content: " ";
    margin: rem(11) rem(10) 0 rem(10);
    display: block;
    flex-shrink: 0;
    flex-grow: 0;
    width: rem(3);
    height: rem(3);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: $lightBlack;
  }

  font-weight: 400;
  font-size: rem(20);
  line-height: rem(24);
  color: $lightBlack;

  @media (max-width: 1000px) {
    font-size: clamp(rem(14), 2vw, rem(20));
    line-height: clamp(rem(17), 2.4vw, rem(24));
  }
}

.seminarSection__container {
  position: relative;
}

/* slider */
.slick-slider {
  padding: 15px 0;
  overflow: hidden;

  @media (max-width: 725px) {
    overflow: visible;
  }
}

.slick-track {
  display: flex;
  gap: rem(20);
}

.slick-slide {
  display: flex;
}

.slick-slide > div {
  display: flex;
  flex: 1 1 auto;
}

.slick-arrow {
  @media (max-width: 725px) {
    display: none !important;
  }
}

.slick-next,
.slick-prev {
  position: absolute;
  right: rem(25);
  font-size: 0;
  width: rem(60);
  height: rem(60);
  top: rem(10);
  overflow: hidden;

  @media (max-width: 1000px) {
    top: adaptiv-num-rem(0, 10, 1000, 800);
  }

  @media (max-width: 800px) {
    top: adaptiv-num-rem(-6, 0, 800, 725);
  }

  &:hover {
    background-color: #ccdcce;
  }
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.slick-next {
  background-image: url("../src/assests/image/icon/arrowNext.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.slick-prev {
  background-image: url("../src/assests/image/icon/arrowPrev.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  right: rem(105);
}

// animation for button
.button__animation {
  overflow: hidden;
  position: relative;

  &::after {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      90deg,
      rgba(211, 173, 173, 0.7) 0%,
      #d3c4ad 33.85%,
      #adcad3 65.1%,
      #e5adff 100%
    );
    color: #ffffff;
    opacity: 0;
    transition: opacity 0.3s;
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    -ms-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
  }

  &:hover::after {
    opacity: 1;
  }

  & > span {
    position: relative;
    z-index: 1;
  }
}

// swall button
.swal2-confirm {
  border: rem(1) solid $lightBlack !important;
  color: $lightBlack !important;
}

.swal2-actions:not(.swal2-loading) .swal2-styled:hover {
  background-image: linear-gradient(
    90deg,
    rgba(211, 173, 173, 0.7) 0%,
    #d3c4ad 33.85%,
    #adcad3 65.1%,
    #e5adff 100%
  ) !important;
}

// .swal2-success-line-tip,
// .swal2-success-line-long {
//   background-color: $lightBlack !important;
// }

// .swal2-success-ring {
//   border-color: $lightBlack !important;
//   opacity: 0.4;
// }

.swal2-title,
.swal2-html-container {
  font-family: "Montserrat" !important;
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: rem(24) !important;
  line-height: rem(30) !important;
  color: $lightBlack !important;
  margin-top: rem(10) !important;
}

// burger menu
// .menu__container {
//   height: 100%;
// }
