@use "sass:math";
@import "../../assests/scss/mixins";
@import "../../assests/scss/variables";

.slide {
  padding-top: rem(30);
  border-top: rem(1) solid #a2a2a2;
  gap: rem(30);
  max-width: rem(498);
}

.title {
  font-weight: 500;
  font-size: rem(24);
  line-height: rem(30);
  color: $lightBlack;

  @media (max-width: 1000px) {
    font-size: clamp(rem(20), 2.4vw, rem(24));
    line-height: clamp(rem(25), 3vw, rem(30));
  }
}

.description {
  font-weight: 400;
  font-size: rem(20);
  line-height: rem(24);
  color: $lightBlack;

  @media (max-width: 1000px) {
    font-size: clamp(rem(16), 2vw, rem(20));
    line-height: clamp(rem(20), 2.4vw, rem(24));
  }
}

.link {
  position: relative;
  font-weight: 500;
  font-size: rem(18);
  line-height: rem(22);
  color: $lightBlack;
  margin-top: auto;
  display: flex;
  align-items: center;
  align-self: flex-start;

  &::after {
    content: "";
    display: block;
    margin-left: rem(12);
    background-image: url("../../assests/image/icon/arrow.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: rem(24);
    height: rem(24);
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
  }

  &::before {
    content: "";
    position: absolute;
    bottom: rem(-8);
    left: 0;
    width: 0;
    height: rem(1);
    background-color: $lightBlack;
    display: block;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
  }

  &:hover::before {
    width: 100%;
  }

  &:hover::after {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
  }
}
