@use "sass:math";
@import "../../assests/scss/mixins";
@import "../../assests/scss/variables";

.wrapper {
  position: relative;
  z-index: 1500;
  gap: rem(25);
  align-items: center;
  border: rem(1) solid $lightBlack;
  border-radius: rem(50);
  -webkit-border-radius: rem(50);
  -moz-border-radius: rem(50);
  -ms-border-radius: rem(50);
  -o-border-radius: rem(50);
  padding: rem(5) rem(5) rem(5) rem(20);
  background-color: $white;
  margin-left: rem(75);

  @media (max-width: 1000px) {
    margin-left: 0;
    margin-right: adaptiv-num-rem(0, 50, 1000, 795);
  }

  @media (max-width: 795px) {
    margin-right: 0;
  }
}

.navigation {
  gap: rem(25);

  @media (max-width: 768px) {
    display: none;
  }
}

.link {
  font-weight: 500;
  font-size: rem(18);
  line-height: rem(22);
  cursor: pointer;
  position: relative;

  &::after {
    content: "";
    display: block;
    width: 0;
    height: rem(1);
    background-color: $lightBlack;
    position: absolute;
    bottom: rem(-2);
    left: 0;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
  }

  &:hover::after {
    width: 100%;
  }
}

.contact {
  z-index: 1001;
  border: rem(1) solid $lightBlack;
  border-radius: rem(20);
  -webkit-border-radius: rem(20);
  -moz-border-radius: rem(20);
  -ms-border-radius: rem(20);
  -o-border-radius: rem(20);
  padding: rem(8) rem(16);
  font-weight: 500;
  font-size: rem(18);
  line-height: rem(22);
  cursor: pointer;

  &::after {
    border-radius: rem(20);
    -webkit-border-radius: rem(20);
    -moz-border-radius: rem(20);
    -ms-border-radius: rem(20);
    -o-border-radius: rem(20);
  }
}
